:root {
  --clr-primary-300: 213, 96%, 18%;
  --clr-primary-400: 243, 100%, 62%;
  --clr-primary-500: 228, 100%, 84%;
  --clr-primary-600: 206, 94%, 87%;
  --clr-primary-700: 354, 84%, 57%;

  --clr-neutral-300: 231, 11%, 63%;
  --clr-neutral-400: 229, 24%, 87%;
  --clr-neutral-500: 217, 100%, 97%;
  --clr-neutral-600: 231, 100%, 99%;
  --clr-neutral-700: 0, 0%, 100%;

  --fs-300: clamp(0.7rem, 0.66rem + 0.2vw, 0.8rem);
  --fs-400: clamp(0.88rem, 0.83rem + 0.24vw, 1rem);
  --fs-500: clamp(1.09rem, 1rem + 0.47vw, 1.33rem);
  --fs-600: clamp(1.37rem, 1.21rem + 0.8vw, 1.78rem);
  --fs-700: clamp(1.71rem, 1.45rem + 1.29vw, 2.37rem);
  --fs-800: clamp(2.14rem, 1.74rem + 1.99vw, 3.16rem);
  --fs-900: clamp(2.67rem, 2.07rem + 3vw, 4.21rem);
  --fs-1000: clamp(3.34rem, 2.45rem + 4.43vw, 5.61rem);

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

*, 
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
  font-weight: var(--fw-regular);
  line-height: 1.5;
  position: relative;
  min-height: 100vh;
  // background-color: #1E1E1E;
}

h1, 
h2,
h3 {
  line-height: 1;
  color: #05194B;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


ul {
  list-style: none;
}

a {
  color: unset;
  text-decoration: none;
}

input,
button,
textarea,
select {
  font: inherit;
}


img, 
video,
figure,
picture {
  max-width: 100%;
  height: auto;
  display: block;
}

/////////////////////////////// Utility Styles

.flex {
  display: flex;
  flex-direction: column;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  grid-template-columns: 1rem;
  gap: 1rem;
}

.flow-space > * + * {
  margin-top : var(--spacer, 1rem);
}

.btn {
  display: inline-block;
  padding: 0.5em 2.5em;
  text-align: center;
  font-weight: var(--fw-medium);
}

.btn__primary {
  color: #1C1406;
  background-color: #FFA500;
}

.btn__accent {
  color: #FFFFFF;
  background-color: #0474DC;
}

.btn__light {
  color: #1C1406;
  border: 1px solid #130E05;
  background-color: transparent;
}

.container {
  max-width: 70rem;
  width: 90%;
  margin-inline: auto;

  &__full {
    max-width: 90%;
    padding-inline: 4rem;
      margin-inline: auto;
  }

  &__medium {
    max-width: 60rem;
  }
}

.section-title {
  text-align: center;
  max-width: 40rem;
  width: 100%;
  margin-inline: auto;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  margin-bottom: 2.5rem;

  h2 {
    font-size: var(--fs-700);
  }

  p {
    color: #6A6A6A;
  }
}


  .about, .guide, .servives, .community, .blog {
      padding-block: 4rem;

  }

